/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Metamorphous&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: Metamorphous, Tinos, serif;
}


/* Navbar Logo */

.navbar-brand {
  background: url("../images/wpb-logo.avif") no-repeat;
  width: 120px;
  height: 60px;
}

/*Hero Section*/
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/wpb-hero.png");

  /* Set a specific height */
  height: 350px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}